<div id="<%= dom_id group %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= group.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Icon:</strong>
    <%= group.icon %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Created at:</strong>
    <%= group.created_at %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this group", group, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this group', edit_group_path(group), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
