<div id="<%= dom_id record %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= record.author_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= record.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= record.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Created at:</strong>
    <%= record.created_at %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this record", record, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this record', edit_record_path(record), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
