<%= form_with(model: category, class: "w-full bg-white flex flex-col") do |form| %>
  <% if category.errors.any? %>
    <div class="m-auto text-red-500 flex flex-col" id="error_explanation">
      <ul class="m-auto mt-5 m-auto py-2 px-3 bg-red-50 text-red-500 font-medium rounded-lg inline-block">
        <% category.errors.full_messages.each do |msg| %>
          <li>🎯<%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
      <%= form.text_field :name, placeholder: "Name", class: 'mt-4 placeholder-[#babfc6] w-full border-t-[#babfc5] border-transparent w-full', required: true %>
  </div>
  <hr class="m-auto w-[95%]">
  <div>
      <%= form.text_field :icon, placeholder: 'Icon', class: 'placeholder-[#babfc6] w-full border-b-[#babfc5] border-transparent w-full', required: true %>
    </div>
  <div class="">
    <%= form.submit "Create", id: "hidden-submit_3", class: "hidden" %>
  </div>
<% end %>
