<section class="w-full h-full flex flex-col items-center">
  <div class="mb-4 flex flex-col w-full max-w-[568px]">
    <div class="sticky flex head-gradient max-w-[568px] top-0 w-full w-full min-w-[350px] items-center px-4 pt-8 pb-2">
      <%= link_to(categories_path, class: "") do %>
        <span class="material-symbols-outlined text-white hover:text-neutral-300">arrow_back_ios</span>
      <% end %>
      <h2 class="text-white m-auto"><%= @category.name.upcase %></h2>
      <%= link_to 'Edit', edit_category_path(@category), class: "hover:text-neutral-300 text-white text-[16px]" %>
    </div>
    <div class="items-center total-spent w-full max-w-[568px] m-auto p-4 w-full bg-white border text-neutral-600 border-neutral-300 flex">
      <img src="<%= @category.icon %>" alt="<%= @category.name %>'s icon" class=" w-[40px] h-[40px] object-cover">
      <h2 class="ml-4">Total Spent:</h2>
      <b class="ml-auto">$<%= @expenses.map(&:amount).reduce(:+) || 0 %></b>
    </div>
    <% if notice.present? %>
      <p class="m-auto py-2 px-3 bg-green-50 mt-5 text-green-500 font-medium rounded-lg inline-block transition-opacity duration-500" id="notice"><%= notice %></p>
      <%= hide_notice_after(4) %>
    <% end %>
    <% if alert.present? %>
      <p class="m-auto py-2 px-3 bg-green-50 mt-5 text-green-500 font-medium rounded-lg inline-block transition-opacity duration-500" id="alert"><%= alert %></p>
      <%= hide_alert_after(4) %>
    <% end %>
    <div class="mt-5 mx-auto w-full flex flex-col items-center">
      <div class="mx-auto w-full">
        <div class="total-spent w-full max-w-[568px]">
          <%= render @category.expenses %>
        </div>

        <div class="m-auto fixed transition-ease-in w-full max-w-[568px] bottom-0 flex items-center bg-[#5fb523] hover:bg-[#478e16] p-4 transition-ease-in-out duration-500">
          <%= link_to 'NEW EXPENSE', new_category_expense_path(@category, category_id: @category.id), class: "m-auto rounded-sm border-2 border-neutral-100 flex justify-center text-white w-full min-w-[350px] items-center p-4" %>
        </div>
      </div>
    </div>
  </div>
</section>
